@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-brand-50: #fff0f6;
  --color-brand-100: #ffe0ed;
  --color-brand-200: #ffc2dc;
  --color-brand-300: #ff8fbd;
  --color-brand-400: #ff5798;
  --color-brand-500: #e20054;
  --color-brand-600: #c9004b;
  --color-brand-700: #a60041;
  --color-brand-800: #870039;
  --color-brand-900: #700333;
  --color-brand-950: #45001d;
}
